<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>JavaScript Trivia</title>
    <author>Commit to Master</author>

    <link data-require="bootstrap@4.1.3" data-semver="4.1.3" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script data-require="bootstrap@4.1.3" data-semver="4.1.3" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>
  <body class="container">



    <h1>JavaScript Trivia</h1>


  <div class="container" role="main">
    <br><br>

    <h2>Test Your Knowledge of JavaScript</h2>

    <div class="form-group">
        <label for="txtFirstName">Name:</label>
        <input type="text" class="form-control"  inner-text="Name" id="UserName">
        <br>
        <button type="submit" class="btn btn-outline-primary btn-lg float-right">START</button>
    </div>

    <br><br>

    <div id="q1">
        <h3>Question #1</h3>
        <p>What does ES5 stand for?</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans1_1" id="ans1_1" value="A">
            <label class="form-check-label" for="ans1_1">a.	ECMAScript 5</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans1_2" id="ans1_2" value="B">
            <label class="form-check-label" for="ans1_2">b. ECMAScript 2009</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans1_3" id="ans1_3" value="C">
            <label class="form-check-label" for="ans1_3">c.	Both A and B</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans1_4" id="ans1_4" value="D">
            <label class="form-check-label" for="ans1_4">d. None of the above.</label>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-dark btn-sm float-right">Next</button>
    </div>

    <br><br>

    <div id="q2">
        <h3>Question #2</h3>
        <p>Which is the proper statement to return “Hello World” text to the console.</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans2_1" id="ans2_1" value="A">
            <label class="form-check-label" for="ans2_1">a. return Hello World</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans2_2" id="ans2_2" value="B">
            <label class="form-check-label" for="ans2_2">b.	Log(“Hello World”);</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans2_3" id="ans2_3" value="C">
            <label class="form-check-label" for="ans2_3">c.	console.log("Hello World");</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans2_4" id="ans2_4" value="D">
            <label class="form-check-label" for="ans2_4">d.	function(Hello World){}</label>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-dark btn-sm float-left">Previous</button>
        <button type="submit" class="btn btn-outline-dark btn-sm float-right" href="#q10">Next</button>
    </div>

    <br><br>

    <div id="q3">
        <h3>Question #3</h3>
        <p>What method calls a function once for each array element?</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans3_1" id="ans3_1" value="A">
            <label class="form-check-label" for="ans3_1">a.	instanceOf()</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans3_2" id="ans3_2" value="B">
            <label class="form-check-label" for="ans3_2">b.	forEach()</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans3_3" id="ans3_3" value="C">
            <label class="form-check-label" for="ans3_3">c.	indexOf()</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans3_4" id="ans3_4" value="D">
            <label class="form-check-label" for="ans3_4">d. None of the above.</label>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-dark btn-sm float-left">Previous</button>
        <button type="submit" class="btn btn-outline-dark btn-sm float-right">Next</button>
    </div>

    <br><br>

    <div id="q4">
        <h3>Question #4</h3>
        <p>Which built-in method returns the length of the string?</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans4_1" id="ans4_1" value="A">
            <label class="form-check-label" for="ans4_1">a.	length()</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans4_2" id="ans4_2" value="B">
            <label class="form-check-label" for="ans4_2">b.	size()</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans4_3" id="ans4_3" value="C">
            <label class="form-check-label" for="ans4_3">c.	index()</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans4_4" id="ans4_4" value="D">
            <label class="form-check-label" for="ans4_4">d.	indexOf()</label>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-dark btn-sm float-left">Previous</button>
        <button type="submit" class="btn btn-outline-dark btn-sm float-right">Next</button>
    </div>

    <br><br>

    <div id="q5">
        <h3>Question #5</h3>
        <p>Which is NOT a valid way to create a JavaScript object?</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans5_1" id="ans5_1" value="A">
            <label class="form-check-label" for="ans5_1">a.	const example =  x;</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans5_2" id="ans5_2" value="B">
            <label class="form-check-label" for="ans5_2">b.	var x = new Object();</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans5_3" id="ans5_3" value="C">
            <label class="form-check-label" for="ans5_3">c.	var empty = {}</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans5_4" id="ans5_4" value="D">
            <label class="form-check-label" for="ans5_4">d.	Object.create()</label>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-dark btn-sm float-left">Previous</button>
        <button type="submit" class="btn btn-outline-dark btn-sm float-right">Next</button>
    </div>

    <br><br>

    <div id="q6">
        <h3>Question #6</h3>
        <p>“Public” and “Private” are the two most common keywords in JavaScript syntax to declare accessibility to an object.</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans6_1" id="ans6_1" value="T">
            <label class="form-check-label" for="ans6_1">True</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans6_2" id="ans6_2" value="F">
            <label class="form-check-label" for="ans6_2">False</label>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-dark btn-sm float-left">Previous</button>
        <button type="submit" class="btn btn-outline-dark btn-sm float-right">Next</button>
    </div>

    <br><br>

    <div id="q7">
        <h3>Question #7</h3>
        <p>Which of the options is the correct way to create an empty array in JavaScript?</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans7_1" id="ans7_1" value="A">
            <label class="form-check-label" for="ans7_1">a.	var arr = [empty];</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans7_2" id="ans7_2" value="B">
            <label class="form-check-label" for="ans7_2">b.	var empty = [];</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans7_3" id="ans7_3" value="C">
            <label class="form-check-label" for="ans7_3">c.	var empty = {};</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans7_4" id="ans7_4" value="D">
            <label class="form-check-label" for="ans7_4">d.	var arr = a[0];</label>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-dark btn-sm float-left">Previous</button>
        <button type="submit" class="btn btn-outline-dark btn-sm float-right">Next</button>
    </div>

    <br><br>

    <div id="q8">
        <h3>Question #8</h3>
        <p>______ JavaScript enables the manipulation of web pages and client browsers.</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans8_1" id="ans8_1" value="A">
            <label class="form-check-label" for="ans8_1">a.	Back-End</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans8_2" id="ans8_2" value="B">
            <label class="form-check-label" for="ans8_2">b.	Core</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans8_3" id="ans8_3" value="C">
            <label class="form-check-label" for="ans8_3">c.	Server-Side</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans8_4" id="ans8_4" value="D">
            <label class="form-check-label" for="ans8_4">d. Client-Side</label>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-dark btn-sm float-left">Previous</button>
        <button type="submit" class="btn btn-outline-dark btn-sm float-right">Next</button>
    </div>

    <br><br>

    <div id="q9">
        <h3>Question #9</h3>
        <p>What is the proper escape sequence in JavaScript string literals?</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans9_1" id="ans9_1" value="A">
            <label class="form-check-label" for="ans9_1">a. /</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans9_2" id="ans9_2" value="B">
            <label class="form-check-label" for="ans9_2">b.	esc.</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans9_3" id="ans9_3" value="C">
            <label class="form-check-label" for="ans9_3">c.	\</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans9_4" id="ans9_4" value="D">
            <label class="form-check-label" for="ans9_4">d. *</label>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-dark btn-sm float-left">Previous</button>
        <button type="submit" class="btn btn-outline-dark btn-sm float-right">Next</button>
    </div>

    <br><br>

    <div id="q10">
        <h3>Question #10</h3>
        <p>A Boolean value represents truth or falsehood, on or off, yes or no.</p>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans1_1" id="ans1_1" value="T">
            <label class="form-check-label" for="ans1_1">True</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ans1_2" id="ans1_2" value="F">
            <label class="form-check-label" for="ans1_2">False</label>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-dark btn-sm float-left">Previous</button>
        <button type="submit" class="btn btn-success float-right">Submit</button>
    </div>




  </div>

  </body>
</html>
