<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>JavaScript Trivia</title>
    <author>Commit to Master</author>

    <link data-require="bootstrap@4.1.3" data-semver="4.1.3" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script data-require="bootstrap@4.1.3" data-semver="4.1.3" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>
  <body class="container">



    <h1>JavaScript Trivia</h1>


  <div class="container" role="main">
    <br><br>

    <h2>Test Your Knowledge of JavaScript</h2>

    <div class="form-group">
        <label for="txtFirstName">Name:</label>
        <input type="text" class="form-control"  inner-text="Name" id="UserName">
        <br>
        <button type="submit" class="btn btn-outline-dark float-right">START</button>
    </div>




  </body>
</html>
